<div class="cube">
        
        <p class="name">{{title}}</p>
        <hr>
        <a href="{{contentUrl}}" target="_blank">Линк за сваляне</a>
          <hr>
        <p>{{refType}}</p>
        <p>{{recipient}}</p>
        <p>{{languages}}</p>
        <p>{{classification}}</p>
        <p>{{worker}}</p>
        <a class="btn" href="/details/{{id}}">Подробности</a>
      </div>