<main>
  <div class="details">
  <h1>Тема: {{ref.title}}</h1>
  <a href="{{ref.contentUrl}}" target="_blank">Линк за сваляне</a>
  <p>Тип: {{ref.refType}}</p>
  <p>Получател: {{ref.recipient}}</p>
  <p>Езици: {{ref.languages}}</p>
  <p>Класификация: {{ref.classification}}</p>
  <p>Изработил: {{ref.worker}}</p>
  <p>Статус: {{ref.refStatus}}</p>
  <a class="btn" href="/">Обратно към каталога</a>
  <a class="btn" href="/edit/{{ref.id}}">Редактирай</a>
  </div>
</main>