
<h1>Редактирай справка</h1>
<div class="form">
    <form action="/edit/{{ref.id}}" method="POST">
        <label for="title">Тема</label>
        <input type="text" id="title" name="title" value={{ref.title}}>

        <label for="languages">Езици</label>
        <input type="text" id="languages" name="languages" value={{ref.languages}}>

        <label for="refType">Тип</label>
        <select id="refType" name="refType" value="{{refType}}">
            <option value="Бакалавърска дипломна работа">Бакалавърска дипломна работа</option>
            <option value="Магистърска дипломна работа">Магистърска дипломна работа </option>
            <option value="Дисертация">Дисертация</option>
            <option value="Друго">Друго </option>
        </select>

        </select>

        <label for="contentUrl">Линк</label>
        <input type="text" id="contentUrl" name="contentUrl" value={{ref.contentUrl}}>
        <label for="recipient">Получател</label>
        <input type="text" id="recipient" name="recipient" value={{ref.recipient}}>
        <label for="worker">Служител</label>
        <input type="text" id="worker" name="worker" value={{ref.worker}}>

        <label for="classification">Класификация</label>
        <select id="classification" name="classification">

        <option value="0. Общ отдел">0. Общ отдел</option>
        <option value="1. Философия">1. Философия</option>
        <option value="2. Религия">2. Религия</option>
        <option value="3. Обществени науки">3. Обществени науки</option>
        <option value="5. Математика. Естествени науки">5. Математика. Естествени науки</option>
        <option value="61. Медицина">61. Медицина</option>
        <option value="62. Техника">62. Техника</option>
        <option value="63. Селско стопанство">63. Селско стопанство</option>
        <option value="64-69. Промишленост">64-69. Промишленост</option>
        <option value="793-799. Спорт">793-799. Спорт</option>
        <option value="7. Изкуство">7. Изкуство</option>
        <option value="80. Езикознание">80. Езикознание</option>
        <option value="82. Литературознание">82. Литературознание</option>
        <option value="9. История">9. История</option>
        <option value="91. География. Пътешествия">91. География. Пътешествия</option>


        </select>

        <label for="refStatus">Статус</label>
        <select id="refStatus" name="refStatus">
            <option value="Приета">Приета</option>
            <option value="Изпълнена">Изпълнена</option>
            <option value="Взета">Взета</option>

        </select>
        <input type="submit" value="Редактирай">
    </form>
</div>